body {
    font-family: sans-serif;
}

#price-form ul {
    list-style: none;
}

#price-form label {
    display: block;
}

#price-form input {
    margin-bottom: 1.2em;
}

.monospace {
    font-family: monospace;
}